.marketContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.marketInnerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
} 

.btnPurchase{
    display: flex;
    justify-content: flex-end;
}